*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    background-color: #DB2B39;
}

.container{
    position: relative;
    height: 100vh;
}

.amongUs_wrapper{
    height: 400px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}

.amongUs_wrapper::after{
    content: "";
    background-color: #cf2332;
    /* border: 4px solid #351d04; */
    height: 550px;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 12px;
    transform: translate(-50%, -45%);
    z-index: -4;
}

.customize_btn{
    position: absolute;
    z-index: 4;
    background-color: transparent;
    border: 4px solid #000;
    padding: 10px 14px;
    top: 5vh;
    left: 5vw;
    font-size: 24px;
    color: #fff;
    font-weight: 200;
    transition: background-color ease-in-out 200ms;
}

.customize_btn:hover{
    background-color: #000;
    cursor: pointer;
}

.corpo{
    border-width: 18px 18px 0 18px;
    border-style: solid;
    border-color: #351d04;
    border-radius: 100px 140px 0 0;
    background-color: #c28822;
    height: 340px;
    width: 250px;
    margin: 0 auto;
    position: relative;
}

.corpo::after{
    content: "";
    position: absolute;
    height: 92%;
    top: 0px;
    right: 0;
    width: 94%;
    z-index: 0;
    background-color: #f6f659;
    border-radius: 60px 120px 85px 95px;
}

.pernas{
    width: 120px;
    height: 100px;
    border-width: 0px 18px 18px 18px;
    border-style: solid;
    border-color: #351d04;
    background-color: #c28822;
    position: absolute;
    left: -18px;
    border-radius: 0 0 45px 45px;
    bottom: -100px;
    z-index: 2;
}

.pernas::after{
    content: "";
    position: absolute;
    background-color: #351d04;
    bottom: -20px;
    left: 3px;
    border-radius: 50%;
    height: 20px;
    width: 90%;
}

.pernas:last-child::after{
    bottom: -19px;
    height: 15px;
    width: 60px;
}

.pernas:last-child{
    right: -18px;
    bottom: -90px;
    width: 110px;
    left: auto; 
    height: 90px;
    border-radius: 0 0 48px 35px;
}

.mochila{
    border: 18px solid #351d04;
    height: 50%;
    width: 80px;
    border-radius: 40px 0 0 45px;
    position: absolute;
    top: 50%;
    left: 65px;
    z-index: -2;
    overflow: hidden;
    background-color: #f6f659;
    transform: translateY(-50%);
}

.mochila::after{
    content: "";
    position: absolute;
    height: 87%;
    width: 50px;
    background-color: #c28822 ;
    border-radius: 18px;
    bottom: -5px;
}

.sombra{
    height: 115px;
    width: 85%;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.1;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: -70px;
    z-index: -2;
}

.visor{
    position: absolute;
    border: 18px solid #13283a;
    height: 125px;
    top: 15%;
    border-radius: 85px 120px 90px 75px;
    right: -20%;
    width: 190px;
    overflow: hidden;
    background-color: #4e7da0;
    z-index: 4;
}

.visor::after{
    content: "";
    position: absolute;
    height: 70px;
    width: 130px;
    top: -10px;
    right: 0;
    border-radius: 30px 0 30px 30px;
    z-index: 10;
    background-color: #96cadd;
}

.visor::before{
    content: "";
    position: absolute;
    height: 25px;
    width: 70px;
    top: 6px;
    transform: skewX(20deg);
    right: 20px;
    border-radius: 20px;
    z-index: 12;
    background-color: #fff;
}

.visor_round{
    position: absolute;
    height: 20px;
    background-color: #13283a;
    width: 130px;
    border-radius: 50%;
    right: -6%;
    z-index: 6;
    top: calc(15% + 110px);
}

.visor_round::after{
    content: "";
    position: absolute;
    height: 20px;
    background-color: #4e7da0;
    width: 125px;
    border-radius: 50%;
    right: 4px;
    z-index: 8;
    top: -20px;
}

.detalhe_pernas{
    height: 15px;
    width: 70px;
    position: absolute;
    bottom: -15px;
    left: 60%;
    z-index: 12;
    border-radius: 4px 10px 170px 10px;
    transform: translateX(-50%);
    background-color: #351d04;
}

.customize_menu{
    position: absolute;
    z-index: 2;
    width: 450px;
    justify-content: center;
    left: 130px;
    gap: 20px;
    top: 47px;
    margin-left: 100px;
    height: 59px;
    display: flex;
    align-items: flex-end;
}

.customize_menu button{
    background-color: #550505;
    border: none;
    padding: 6px 20px;
    font-weight: 500;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

@media screen and (max-width: 775px){
    .amongUs_wrapper{
        transform: translate(-50%, -50%) scale(0.8) ;
    }
}

@media screen and (max-width: 575px){
    .amongUs_wrapper{
        transform: translate(-50%, -50%) scale(0.7) ;
    }
}

@media screen and (max-width: 375px){
    .amongUs_wrapper{
        transform: translate(-50%, -50%) scale(0.6) ;
    }
}

.bkg_corpo{
    background-color: #c28822;
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 0;
}

.bkg_corpo2, .bkg_corpo3{
    position: absolute;
    bottom: -40px;
    left: -18px;
    background-color: #351d04;
    height: 90px;
    width: 18px;
    z-index: 6;
}

div.bkg_corpo3{
    left: auto;
    right: -18px;
}

.creditos{
    color: #351d04;
    text-align: center;
    position: absolute;
    bottom: -220px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
}

h1{
    font-size: 30px;
    font-weight: 600;
}

a{
    color: #351d04;
    font-weight: 500;
    font-size: 20px;
}